<style>
button:hover {
    opacity: 0.8;
}

.container1 {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 50%;
    height: 350px;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    
}
</style>
<div>
<div id="id01" class="modal">
    <form class="modal-content animate" ng-submit="loginData(x)" ng-init="x={}">
    
    <div class="container1">
    	<h2 class="w3-center">Admin</h2>
      <label><b>Username</b></label><br>
      <input class="w3-input" type="text" ng-model="x.usrname" placeholder="Enter Username" required>
      <br>
      <label><b>Password</b></label><br>
      <div class="w3-right"><i class="w3-text-red">{{loginresult}}</i></div>
      <input class="w3-input" type="password" placeholder="Enter Password" ng-model="x.password" required>
      <div class="w3-margin w3-center">  
      <button class="w3-btn w3-round w3-large w3-green" type="submit">Login</button>
      </div>
      <input type="checkbox" checked="checked"> Remember me
    </div>

    <div class="container1" style="background-color:#f1f1f1">
      <button type="button" class="w3-btn w3-red">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>
