<div class="topM">
<div class="w3-row">
<div class="w3-col s6">
<div class="a1"><img src="assets/images/dd.jpg">
<h2 class="w3-text-blue-grey">1)Dugdh dohan</h2>
<p>GAVODUGDAM AMRUTAM गौ माता का दूध  “अमृत के समान” सर्व श्रेस्ठ माना जाता है – दोहन प्रक्रिया द्वारा पाए जाने वाला दुग्ध सर्वोत्तम है” Make in DugdDohan Vedic instruction for milking Gau Mata The milk of cow is Nectar. Why nectar?? Because “milk of indigenous breed of cow is A2 type” which has all nutrients</p>
<a href="#" ><b>Read more>></b></a>
</div>
</div>
<div class="w3-col s6">
	<div class="a1"><img src="assets/images/cure.jpg">
		<h2 class="w3-text-blue-grey">2)Vitamin B12 Is An Essential Nutrient For Human Body</h2>
		<p>Glory of Mother Cow – Can Cure HIV, Cancer, Hypertension, Blindness – Naturally   Vitamin B12 Is An Essential Nutrient For Human Body.   Being Oligodynamic in nature it is required in 2 to 4 micro gram on daily basis for human body. It prevents humans from heart disease, kidney problems, nervous disorders, blindness and …</p><a href="#" ><b>Read more>></b></a></div></div>
</div>
<div class="w3-row">
<div class="w3-col s6">
<div class="a1"><img src="assets/images/dd.jpg">
<h2 class="w3-text-blue-grey">1)Dugdh dohan</h2>
<p>GAVODUGDAM AMRUTAM गौ माता का दूध  “अमृत के समान” सर्व श्रेस्ठ माना जाता है – दोहन प्रक्रिया द्वारा पाए जाने वाला दुग्ध सर्वोत्तम है” Make in DugdDohan Vedic instruction for milking Gau Mata The milk of cow is Nectar. Why nectar?? Because “milk of indigenous breed of cow is A2 type” which has all nutrients</p>
<a href="#" ><b>Read more>></b></a>
</div>
</div>
<div class="w3-col s6">
	<div class="a1"><img src="assets/images/cure.jpg">
		<h2 class="w3-text-blue-grey">2)Vitamin B12 Is An Essential Nutrient For Human Body</h2>
		<p>Glory of Mother Cow – Can Cure HIV, Cancer, Hypertension, Blindness – Naturally   Vitamin B12 Is An Essential Nutrient For Human Body.   Being Oligodynamic in nature it is required in 2 to 4 micro gram on daily basis for human body. It prevents humans from heart disease, kidney problems, nervous disorders, blindness and …</p><a href="#" ><b>Read more>></b></a></div></div>
</div>

</div>
<style>
.a1{
	margin-left: 10%;
	height: 400px;
	width: 460px;
}
.topM{
	margin-top: 20px;
}
</style>