
<div class="w3-container">
  <h2>New Register:</h2>


<form class="w3-container" ng-submit="submitData(x)" ng-init="x={}">
  <p>
  <label>User Name:</label>
  <input class="w3-input" type="text" placeholder="user name" ng-model="x.username"></p>
  <p>
  <label>Email:</label>
  <input class="w3-input" type="text" placeholder="email" ng-model="x.email"></p>
  <p>
  <label>password:</label>
  <input class="w3-input" type="password" placeholder="password" ng-model="x.password"></p>
  <p>
  <label>contact no:</label>
  <input class="w3-input" type="text" placeholder="contact no" ng-model="x.contact"></p>
<p class="w3-center w3-padding">
<button class="w3-btn w3-green">Submit</button>	
</p>
</form>
</div>